@import './assets/css/clear.scss', './assets/css/constants.scss', './assets/css/mixins.scss';

.wrapper {
  margin: 0 auto;
  padding: 0 240px;
  max-width: 1920px;
  height: 100%;
}

.header {
  height: 200px;
  background: $dark-bg;

  .wrapper {
    display: flex;
    align-items: center;
  }

  &__row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  max-width: 195px;
  height: 100%;
  display: flex;

  &__image {
    width: 49px;
    height: 49px;
    display: block;
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 50px;

    &:hover > .logo__caption {
      color: $font-gold;
    }

    &:hover > .logo__image {
      filter: invert(55%) sepia(16%) saturate(704%) hue-rotate(356deg) brightness(95%) contrast(89%);
    }
  }

  &__caption {
    padding-left: 21px;
    @include forumFont(28px);
    transition: .3s;
  }

  &__image {
    transition: .3s;
  }
}

.menu {
  max-width: 720px;
  flex-grow: 1;
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    padding: 3px 0;
    width: 100%;
    height: 100%;
    display: block;
    @include robotoFont(22px, 200);
    letter-spacing: 2px;
    transition: .3s;

    &:hover,
    &:active {
      color: $font-gold;
    }
  }
}

.welcome {
  background-color: $dark-bg;
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 352px);

  .wrapper {
    padding: 114px 0 246px 240px;
  }

  &__caption {
    padding-bottom: 26px;
    @include forumFont(80px);
  }

  &__text {
    padding-bottom: 77px;
    @include robotoFont(28px, 300);
    letter-spacing: 2px;
  }

  &__link {
    width: 360px;
    height: 75px;
    display: block;
    line-height: 75px;
    background: $dark-red;
    border-radius: 10px;
    @include robotoFont(22px, 200);
    text-align: center;
    letter-spacing: 2px;

    &:hover {
      background: $font-gold;
    }
  }
}

.visiting {
  padding: 75px 0;
  background: $light-bg;

  &__caption {
    position: relative;
    @include forumFont(80px, $font-gold);

    &::after {
      content: "";
      height: 3px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30px;
      background: $dark-red;
    }
  }
}

.cards {
  margin-top: 105px;
  display: flex;
  flex-wrap: wrap;
  gap: 78px 60px;

  &__item {
    width: 440px;
    height: 422px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;

    &:hover > .cards__caption::after {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    max-height: 285px;
    display: block;
  }

  &__caption {
    padding-top: 25px;
    position: relative;
    @include forumFont(32px, $dark-font);
    
    &::after {
      content: "";
      width: 300px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -11px;
      background: $dark-red;
      transition: width .4s;
    }
  }

  &__subcaption {
    padding-top: 22px;
    @include robotoFont(22px, 200, $dark-font);
  }

  &__description {
    padding-top: 10px;
    @include robotoFont(18px, 200, $dark-font);
  }
}

.explore {
  padding: 75px 0;
  background: $dark-bg;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 660px;
  }

  &__caption {
    position: relative;
    @include forumFont(80px);

    &::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: -30px;
      background: $dark-red;
    }
  }

  &__text {
    line-height: 38px;
    @include robotoFont(22px, 300);
  }

  &__text > span {
    color: $font-gold;
  }

  &__text-first {
    letter-spacing: 0.01px;
    padding-top: 105px;
  }

  &__text-sec {
    padding-top: 29px;
  }

  &__text-last {
    padding-top: 27px;
  }

  &__pic {
    padding-top: 15px;
    max-width: 720px;
    max-height: calc(700px + 15px);
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.controls {
  width: 27px;
  height: 30px;
  opacity: .6;
  background-repeat: no-repeat;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }
}

.range {
  height: 8px;
  outline: none;
  border-radius: 0px;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  -webkit-appearance: none;
}

.video {
  padding: 75px 0;
  background: $light-bg;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__content {
    padding-top: 15px;
    max-width: 1440px;
    position: relative;
  }
  
  &__preview {
    max-height: 629px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__playGeneral {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 220px;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    background-image: url(./assets/images/video/generalPlay.svg);
  }

  &__controls {
    padding: 0 41px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark-font;
  }

  &__back {
    background-image: url(./assets/images/video/backward.svg);
  }

  &__play {
    margin-left: 7px;
    width: 23px;
    background-image: url(./assets/images/video/play.svg);
  }

  &__forward {
    margin-left: 4px;
    background-image: url(./assets/images/video/forward.svg);
  }

  &__time {
    margin-left: 10px;
    width: 820px;
    background: linear-gradient(90deg, rgba(36,128,158,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
  }

  &__volume {
    display: flex;
    align-items: center;
  }

  &__volumeIcon {
    margin-right: 22px;
    width: 38px;
    background-image: url(./assets/images/video/volume.svg);
  }

  &__volumeRange {
    margin-right: 10px;
    width: 155px;
    background: linear-gradient(90deg, rgba(36,128,158,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
  }

  &__fullscreen {
    width: 36px;
    height: 36px;
    background-image: url(./assets/images/video/fullscreen.svg);
  }

  &__caption {
    padding: 40px 114px 1px 0;
    @include forumFont(80px, $font-gold);
  }

  &__text {
    padding-top: 42px;
    max-width: 720px;
    line-height: 40px;
    @include robotoFont(22px, 300, $dark-font);
  }
}

.tickets {
  padding: 74px 0;
  background: $dark-bg;
  
  &__caption {
    position: relative;
    @include forumFont(80px);

    &::after {
      content: "";
      height: 3px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30px;
      background: $dark-red;
    }
  }

  &__content {
    padding-top: 106px;
    display: flex;
  }

  &__pic {
    max-width: 720px;
    max-height: 550px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__buy {
    padding-left: 60px;
    display: flex;
    flex-basis: 720px;
    justify-content: space-between;
  }

  .type {

    &__caption {
      @include robotoFont(28px, 700);
    }

    &__list {
      padding: 50px 0 0 39px;
    }

    &__item {
      position: relative;
    }

    &__item:nth-child(2) {
      margin: 48px 0;
    }

    &__input {
      width: 0;
      height: 0;
      position: absolute;

      &:checked + .type__label::after {
        content: "";
        width: 5px;
        height: 5px;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 9px;
        left: -34px;
        transition: .3s;
      }

      &:checked + .type__label:hover::after {
        background-color: $font-gold;
      }
    }

    &__label {
      cursor: pointer;
      @include robotoFont(22px, 300);

      &:hover {
        color: $font-gold;
      }

      &::before {
        content: "";
        width: 17px;
        height: 17px;
        display: block;
        border: 2px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: -40px;
        cursor: pointer;
        transition: .3s;
      }

      &:hover::before {
        border-color: $font-gold;
      }
    }
  }

  .amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__caption {
      padding-bottom: 10px;
      @include robotoFont(28px, 700);
      text-align: right;
    }

    &__subcaption {
      padding-bottom: 12px;
      @include robotoFont(22px, 300);
    }

    &__choice {
      margin-bottom: 35px;
      width: 150px;
      height: 50px;
      display: flex;
      flex-wrap: nowrap;
      border: 3px solid #ffffff;
    }

    &__btn,
    &__count {
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      @include robotoFont(32px, 400);
      text-align: center;
      cursor: pointer;
      transition: color .3s;
    }

    &__btn:hover {
      color: $font-gold;
    }

    &__count {
      @include robotoFont(22px, 300);
      outline: none;
      border: none;
      background-color: transparent;

      &:hover {
        cursor: default;
      }
    }

    &__count::-webkit-inner-spin-button,
    &__count::-webkit-outer-spin-button {
      appearance: none;
    }

    &__total {
      padding: 15px 0 50px;
      @include robotoFont(28px, 700);
      letter-spacing: 1.65px;
    }

    &__buy {
      width: 175px;
      height: 50px;
      @include robotoFont(22px, 300, $dark-font);
      letter-spacing: 2px;
      background-color: #ffffff;
      transition: .3s;

      &:hover {
        background-color: $font-gold;
      }
    }
  }
}

.contacts {
  padding: 73.5px 0;
  background: $light-bg;

  &__caption {
    margin-bottom: 105px;
    position: relative;
    @include forumFont(80px, $font-gold);

    &::after {
      content: "";
      height: 3px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -30px;
      background: $dark-red;
    }
  }

  &__content {
    display: flex;
    flex-basis: 720px;
    justify-content: space-between;
  }

  &__subcaption {
    padding: 10px 0 34px;
    @include robotoFont(28px, 500, $dark-font);
  }

  &__item {
    @include robotoFont(22px, 300, $dark-font);
  }

  &__item:nth-child(2n) {
    padding: 19px 0;
  }

  &__link:hover,
  &__link:active {
    color: $font-gold;
  }
}

.footer {
  padding: 75px 0 80px;
  background: $dark-bg;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    margin-right: 259px;
    padding-top: 9px;
    max-width: 366px;
    display: flex;
    justify-content: space-between;
    
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item:nth-child(2n) {
      padding: 18px 0;
    }
  }
}

.socials {
  padding-top: 41px;
  max-width: 336px;
  height: 48px;
  display: flex;
  align-self: center;
  gap: 24px;

  &__item {
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    border-radius: 50%;
    transition: .3s;

    &:hover {
      border-color: $font-gold;
    }
    
    &:hover path {
      fill: $font-gold;
    }

    path {
      transition: .3s;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
