$dark-bg: #030303;
$light-bg: #e5e5e5;
$dark-red: #710707;
$font-gold: #9d8665;
$font-gold2: #7e6c51;
$dark-font: #000000;
$white-bg: #ffffff;
$pagination-bg: #d2b183;
$pagination-video-bg: #999999;
$pagination-video-active-bg: #333333;
